* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family:Helvetica, Arial, sans-serif sans-serif;
    font-size:1.0em;
    background-color:rgb(255,255,255);
    margin: 0;
    padding: 0;
    color:rgb(0,66,137);
}
/*Seitencontainer zum horizontalen Zentrieren*/
.pageContainer {
    max-width: 960px;
    width: 100%;
    margin:0 auto;
    background:#fff;
    border:1px blue dotted;
}
header {
    width:100%; /* 960px*/;
    margin:0 auto;
    padding:10px;
}
header.logo {float:left;width:62.5%;}
header.titel {float:right;width:32.25%;}


.icons {display:block;
        transition:transform 1.5s 0.2s linear;
        }
.icons:hover {transform:translateX(80px)}

.twitter {  position:absolute;
            left:-80px;
            top:100px;
}
.facebook { position:absolute;
            left:-80px;
            top:150px;
}